<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="{% url 'create'%}">Create </a>
        <a class="nav-item nav-link" href="{% url 'display'%}">Display</a>
        <a class="nav-item nav-link" href="#">Messages</a>
        <a class="nav-item nav-link" href="#">Settings</a>

      </div>
    </div>
  </nav>
  <section name="code" class=" bg-light p-5 m-0">
    <p class="lead text-muted">สร้างโค้ดลงฐานข้อมูล</p>
    <form action="{%url 'create_code'%}" method="post" id="code-form" class="row  justify-content-center">
      <div class="mt-3 col-8">
        <label for="atvcode">กิจกรรม</label>
        <!-- <input type="text" class="form-control" name="atvcode"> -->
        <select name="atvcode">
          {%for data in datas %}
          <option value="{{data.atvcode}}">{{data.name}}</option>
          {%endfor%}

        </select>
      </div>
      <div class="mt-3 col-8">
        <label for="prefix">คำนำหน้า</label>
        <input type="text" class="form-control" name="prefix">
      </div>
      <div class="w-100"></div>
      <div class="mt-3 col-4">
        <label for="amount">จำนวนโค้ดที่จะสร้าง</label>
        <input type="number" class="form-control" name="amount">
      </div>

      <div class="mt-3 col-4">
        <label for="length">ความยาวของโค้ด</label>
        <input type="number" class="form-control" name="length">
      </div>
      <div class="w-100"></div>
      <div class="mt-3 col-4">
        <label for="point">point</label>
        <input type="number" step="0.01" class="form-control" name="point">
      </div>
      <div class="mt-3 col-4">
        <label for="exp">Expired date</label>
        <input type="datetime-local" class="form-control" name="exp">
      </div>
      <div class="mt-3 col-8">
        <input type="submit" value="SUBMIT!">
      </div>

    </form>
  </section>
  <section name="activity" class=" p-5 m-0">
    <p class="lead text-muted">สร้างกิจกรรมลงฐานข้อมูล</p>
    <form action="{%url 'create_activity'%}" method="post" id="activity-form" class="row  justify-content-center">
      <div class="mt-3 col-4">
        <label for="atvcode">รหัสกิจกรรม</label>
        <input type="text" class="form-control" name="atvcode">
      </div>
      <div class="mt-3 col-4">
        <label for="name">ชื่อกิจกรรม</label>
        <input type="text" class="form-control" name="name">
      </div>
      <div class="w-100"></div>
      <div class="mt-3 col-4">
        <label for="place">สถานที่จัด</label>
        <input type="text" class="form-control" name="place">
      </div>
      <div class="mt-3 col-4">
        <label for="date">วันเวลาที่จัด</label>
        <input type="datetime-local" class="form-control" name="date">
      </div>
      <div class="mt-3 col-8">
        <input type="submit" value="SUBMIT!">
      </div>


    </form>
  </section>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  </script>
  <script>
    const code_form = $('#code-form')
    const activity_form = $('#activity-form')

    code_form.submit((e) => {
      e.preventDefault()
      $.ajax({
        type: "POST",
        url: code_form.attr('action'),
        data: code_form.serialize(),
        success: (data) => {
          alert('create code : success')
        },
        error: (error) => {
          alert('create code : error')
        }
      })

    })


    activity_form.submit((e) => {
      e.preventDefault()
      $.ajax({
        type: "POST",
        url: activity_form.attr('action'),
        data: activity_form.serialize(),
        success: (data) => {
          alert('create activity : success')
        },
        error: (error) => {
          alert('create activity : error')
        }
      })

    })
  </script>
</body>

</html>