<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin-Display</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>

    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
                <a class="nav-item nav-link active" href="{% url 'create'%}">สร้างโค้ด </a>
                <a class="nav-item nav-link" href="{% url 'display'%}">เช็คสถานะโค้ด</a>
                <a class="nav-item nav-link" href="#">ข่าวสาร</a>
                <a class="nav-item nav-link" href="#">การตั้งค่า</a>

            </div>
        </div>
    </nav>

    <div class="divmagin">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1"><span></span>
            <label class="custom-control-label" for="customSwitch1"></label>
        </div>
        <section name="table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">อันดับ</th>
                        <th scope="col">ชื่อกิจกรรม</th>
                        <th scope="col">กำหนดการ</th>
                        <th scope="col">สถานที่</th>
                        <th scope="col">จำนวน</th>
                        <th scope="col">สถานะ</th>
                    </tr>
                </thead>
                <tbody>
                    {%for data in datas %}
                    <tr>
                        <th scope="row">{{ forloop.counter }} </th>
                        <td>{{data.name}}</td>
                        <td>{{data.date}}</td>
                        <td>{{data.place}}</td>
                        <td>{{data.code_set.count}}</td>
                        <!-- <td>{{data.status}}</td> -->
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" {%if data.status %} checked
                                    {% endif %} id="switch-{{forloop.counter }}" onchange=" onStatusChange(this)"
                                    data-atvcode="{{data.atvcode}}">
                                <label class="custom-control-label" for="switch-{{forloop.counter }}"></label>
                            </div>
                        </td>

                    </tr>
                    {%endfor%}

                </tbody>
            </table>
        </section>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script>
        function onStatusChange(e) {
            console.log($(e).data('atvcode'));

        }
    </script>
</body>

</html>